{
    log {
        output stderr
        level INFO
    }
}
:14444 {
    reverse_proxy https://GRAFANAHOST {
       header_up Host {http.reverse_proxy.upstream.hostport}
      header_up X-Real-IP {http.reverse-proxy.upstream.address}
      header_up X-Forwarded-Port {http.request.port}
      header_up X-Forwarded-Host {http.request.host}
    }
}